
<form [formGroup]="adminloginform" (ngSubmit)="Adminlogin()">
    <mat-card>
        <mat-card-header>
            <h1>Admin Login</h1>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <mat-label>User name</mat-label>
                <input formControlName="usernameAdmin" matInput>
            </mat-form-field>
            <mat-form-field >
                <mat-label>Password</mat-label>
                <input type="password" formControlName="passwordAdmin" matInput>
            </mat-form-field>
           

        </mat-card-content>
        <mat-card-actions>
            <div class="div-50">
                 <button type="submit" color="primary" mat-raised-button>Login</button>
            </div>
            <div class="div-50">
                <a (clickevent)="resetlog()" color="accent" mat-raised-button>Cancel</a>
           </div>
        </mat-card-actions>
      
    </mat-card>
</form>